---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PRODIG01 - Programando un nuevo mundo.">
	<main>
		<section class="relative bg-gray-900 text-white min-h-screen flex items-center overflow-hidden">
			<div class="container mx-auto px-4 py-16 md:py-24 lg:py-32 relative z-10">
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
					<div class="space-y-4 sm:space-y-6">
						<p class="text-gray-300 opacity-25 uppercase tracking-wider border-b border-white pr-4 sm:pr-[200px] pb-2 text-[20px] sm:text-xs">01110000 01110010 01101111 01100100 01101001 01100111 00110000 00110001</p>
						<h2 class="text-3xl sm:text-4xl lg:text-6xl font-bold leading-tight">
							Bienvenidos
						</h2>
						<p class="text-gray-400 max-w-lg text-sm sm:text-base">
							En este semillero, unimos lo mejor de dos mundos: Desarrollo de Software y Diseño Gráfico, para crear soluciones innovadoras, visualmente impactantes y tecnológicamente avanzadas.
						</p>
						<p class="text-gray-400 max-w-lg text-sm sm:text-base">
							Ya seas apasionado por el código o el diseño, aquí encontrarás un entorno colaborativo donde podrás aprender, crecer y desarrollar proyectos que marcarán la diferencia.<br class="hidden sm:inline"><br class="hidden sm:inline">¡Explora, crea y comparte junto a nosotros!
						</p>
						<button class="px-4 sm:px-6 py-2 sm:py-3 border border-white text-white text-sm sm:text-base">
							<a href="sobre-nosotros.astro">Saber Más</a>
						</button>
					</div>
				</div>
			</div>
			
			<div class="absolute right-0 top-0 bottom-0 w-full lg:w-1/2 overflow-hidden hidden lg:block">
				<div class="relative h-full w-full">
					<img
					src="../../public/logo-semillero.png"
					alt="Roman statue"
					class="absolute inset-0 w-auto h-auto max-h-full object-contain object-center grayscale px-4 sm:px-[80px] py-[100px]"
					/>
					<div class="absolute inset-0 bg-yellow-500 opacity-20 mix-blend-color"></div>
				</div>
			</div>
		</section>
		
		<section class="bg-gray-900 text-white py-12 sm:py-16">
			<div class="container mx-auto px-4">
			  <h2 class="text-2xl sm:text-3xl font-bold mb-8 sm:mb-12">¿Cómo Estamos Trabajando?</h2>
			  
			  <div class="relative mb-24 sm:mb-48">
				<div class="sm:absolute sm:top-0 sm:left-0 sm:w-1/2 mb-8 sm:mb-0">
				  <div class="mb-8 sm:mb-16">
					<h3 class="text-yellow-500 text-base sm:text-lg font-semibold mb-2">Etapa I</h3>
					<p class="text-xs sm:text-sm text-gray-400">Diseñamos un sistema de reputación con una tarifa inicial pequeña, pero importante.</p>
				  </div>
				  <div>
					<h3 class="text-yellow-500 text-base sm:text-lg font-semibold mb-2">Etapa III</h3>
					<p class="text-xs sm:text-sm text-gray-400">Luego se lanza una campaña publicitaria a gran escala, dirigida a aumentar el interés en el proyecto. El número de participantes en el sistema crece y comienza a crecer aún más rápido.</p>
				  </div>
				</div>
				
				<div class="sm:absolute sm:top-0 sm:right-0 sm:w-1/2 sm:text-right">
				  <div class="mb-8 sm:mb-16">
					<h3 class="text-yellow-500 text-base sm:text-lg font-semibold mb-2">Etapa II</h3>
					<p class="text-xs sm:text-sm text-gray-400">También comenzamos a comprar las obras principalmente en el mercado, en pequeños volúmenes, sin llamar la atención, hasta que el precio comienza a crecer naturalmente.</p>
				  </div>
				  <div>
					<h3 class="text-yellow-500 text-base sm:text-lg font-semibold mb-2">Etapa IV</h3>
					<p class="text-xs sm:text-sm text-gray-400">Fijamos el beneficio, vendiendo parcialmente los activos.</p>
				  </div>
				</div>
			  </div>
			  
			  <div class="pt-8 sm:pt-28">
				<div class="flex justify-between items-center mb-6 sm:mb-8">
				  <h2 class="text-2xl sm:text-4xl font-semibold border-b border-white pr-4 sm:pr-[200px] pb-2">Beneficios</h2>
				</div>
				
				<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
			    {['Análisis', 'Acciones', 'Resultado'].map((title) => (
			      <div class="border border-gray-700 p-4 sm:p-6 transition-all duration-300 ease-in-out hover:scale-105 hover:bg-gray-800 group">
				    <h3 class="text-lg sm:text-xl font-semibold mb-3 sm:mb-4">{title}</h3>
				    <p class="text-xs sm:text-sm mb-3 sm:mb-4 h-24 sm:h-32 overflow-hidden group-hover:h-auto transition-all duration-300">
				      {title === 'Análisis' && 'se pretende superar desafíos y resolver problemáticas de las instituciones educativas y la comunidad en general, desarrollando diferentes alternativas a través de aplicaciones web y móviles. El trabajo se realizará de manera virtual y en algunos momentos de forma presencial.'}

				      {title === 'Acciones' && 'Prodig01 es un semillero de programación y diseño gráfico que une a estudiantes de la Institución Educativa Fundadores y la Institución Educativa Ciudadela de las Américas. Este semillero busca formar y fortalecer a estudiantes con mucho interés y excelente desempeño en las medias técnicas que realizan en sus instituciones. Además, pretende vincular e integrar a algunos estudiantes autistas de grados inferiores para mejorar sus capacidades e integrarlos al mundo de las nuevas tecnologías y el diseño.'}

				      {title === 'Resultado' && 'Se fomenta la colaboración entre estudiantes para desarrollar proyectos innovadores que resuelvan problemas educativos y comunitarios, promoviendo la inclusión de jóvenes con diversas capacidades y potenciando el uso de tecnologías web y móviles a través de un enfoque mixto de trabajo virtual y presencial.'}
				    </p>
				    <button class="text-xs sm:text-sm transition-all duration-200 ease hover:text-primary hover:scale-105">Saber más</button>
			      </div>
			    ))}
		      </div>
			</div>
		  </div>
		</section>
	</main>
</Layout>