<header class="fixed top-0 left-0 right-0 z-50 backdrop-blur-md ">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        {/* Logo y Título */}
        <div class="flex items-center space-x-4">
          <h1 class="text-white text-3xl font-bold">PRODIG01</h1>
        </div>

        <nav class="hidden md:flex flex-grow justify-center">
          <ul class="flex space-x-6 text-white">
            <li><a href="#" class="hover:text-primary transition-colors">Inicio</a></li>
            <li><a href="sobre-nosotros.astro" class="hover:text-primary transition-colors">Sobre Nosotros</a></li>
            <li><a href="funcionamiento.astro" class="hover:text-primary transition-colors">Funcionamiento</a></li>
          </ul>
        </nav>

        <div class="hidden md:block">
          <a href="#" class="bg-primary hover:contrast-100 text-lg text-white font-semibold py-2 px-4 rounded-full transition-colors">
            Contáctanos
          </a>
        </div>
      </div>
    </div>

   