<section class="flex ">
    <h2 class="">funcionamiento</h2>
    <ul>
        <li>Aprendizajes</li>
        <p>El aprendizaje del semillero PRODIG01 se basa en la combinación de las media técnicas en desarrollo de software y diseño gráfico, combinando estas y así brindando lo mejor de los dos mundos para su utilización</p>
    </ul>
</section>